<section class="" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="text-center lead">Some small intro here</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="text-center lead">Some Small intro there</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-dark js-scroll-trigger" href="#portfolio">

            Get Reading Now
          </a>
        </div>
      </div>
    </section>