{% load static %}
<link href="{% static "css/cart.css" %}" rel="stylesheet" type="text/css">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container" style="padding-left: 0px;padding-right: 0px">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Talking To Heaven With Sonal</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger" href="#portfolio">Readings</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger"><span>
                        <div class="d-md-none" style="float: left">Cart </div>
                            <i class="fa fa-shopping-cart" style="color: white;float: right">
                                <span class="fa fa-circle"></span><span class="cart-value">0</span>
                            </i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
