{% load static %}
<link href="{% static "css/counter.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static "js/cart.js" %}"></script>
<script src="{% static "js/counter.js" %}"></script>
{% for reading in readings %}
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-{{ reading.id }}">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">{{ reading.name }}</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="{{ reading.image.url }}" alt="">
              <p class="mb-5">{{ reading.description }}</p>
                <div class="qty mb-5">
                    <span class="count-label">Quantity:</span>
                    <i class="fas fa-minus-circle fa-2x minus " onclick="return decrementCounter({{ reading.id }});"></i>
                    <span class="count" id="count-{{ reading.id }}">1</span>
                    <i class="fas fa-plus-circle fa-2x plus" onclick="return incrementCounter({{ reading.id }});"></i>
                </div>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#" onclick="return addToCart({{ reading.id }},'{{ reading.name }}',{{ reading.price }});">
                    <i class="fa fa-close"></i>
                    Add to Cart
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}